/*
  Main CSS file for Spondy News
*/

/* GLOBALS */
/* ======= */

:root {
  /* Brand colors */
  --off-white: #f8f8f8;
  --brand-blue: #00a6ed;
  --brand-red: #c3423f;
  --brand-black: #282d32;
}

body {
  min-height: 100vh;
  background-color: var(--off-white);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--brand-black);
}

/* TYPOGRAPHY */
/* ========== */

a {
  text-decoration: none;
  color: var(--brand-black);
}

a:hover,
a:focus {
  text-decoration: underline;
  color: var(--brand-red);
}

/* IMAGES / LOGOS */
/* ============== */


.brand-logo {
  max-height: 250px;
}

.social-icon {
  height: 2em;
  width: auto;
}

.social-item {
  color: #ddd;
  line-height: 0;
  margin: 0 4px;
}

.social-item:hover,
.social-item:focus {
  color: var(--brand-red);
}

/* SECTIONS */
/* ======== */

.section-header {
  background-image: linear-gradient(
    to right,
    rgba(0, 166, 237, 0),
    rgba(0, 166, 237, 0.8),
    rgba(0, 166, 237, 0)
  );
  text-align: center;
  color: var(--off-white);
  text-shadow: 1px 1px var(--brand-black);
  margin-bottom: 1em;
}

.section-header h2 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

footer {
  background-color: var(--brand-black);
  padding-top: 1em;
  color: white;
}

footer a {
  color: #ddd;
}

footer a:hover,
footer a:focus {
  text-decoration: none;
}
